@mixin titleStyleDashed {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 174, 96, 0.3);
  box-shadow: 0 4px 122px -31px #003810;
  border: 2px dashed #27ae60;
  border-radius: 10px;

}

@mixin titleTextStyle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  // line-height: 100%;
  text-align: center;
  color: #27ae60;
  line-height: 60px;

  @media screen and (max-width: 768px) {
    font-size: 36px;
  }
  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 20px;
  }
}

@mixin buttonStyleGreen {
  
  background: #27ae60;
  border-radius: 10px;
  padding: 17px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  &:hover {
    background: #27402c;
  }
  @media screen and (max-width: 480px) {
    gap: 10px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

@mixin buttonStyleDark {
  background: #131313;
  border-radius: 10px;
  padding: 17px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  &:hover {
    background: #5d72f3;
  }
  @media screen and (max-width: 480px) {
    gap: 10px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

@mixin buttonStyleWhite {
  background: #eef0ff;
  border-radius: 10px;
  padding: 17px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media screen and (max-width: 480px) {
    gap: 10px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

@mixin buttonStyleBlue {
  background: #eef0ff;
  border-radius: 10px;
  padding: 17px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  &:hover {
    background: #c3cbff;
  }
  @media screen and (max-width: 480px) {
    gap: 10px;


  }
}