@import "../../styles/mixins.scss";

.safety {
  width: 100%;

  .safetyWrapper {
    width: 100%;
    margin: 0 auto;
    background: #131313;
    border-radius: 10px;
    padding: 20px 0;
    @media screen and (max-width: 760px) {
      padding: 20px 10px;
    }
    .safetyContent {
      max-width: 1161px;
      margin: 0 auto;

      .titleWrapper {
        max-width: 1161px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .title{
          h2 {
            @include titleStyleDashed();
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 30px 0 36px;
  
            @media screen and (max-width: 480px) {
              // width: 100%;
              padding: 20px;
            }
  
            span {
              font-family: var(--font-family);
              font-weight: 700;
              font-size: 40px;
              line-height: 112%;
              text-align: center;
              color: #27ae60;
              @media screen and (max-width: 768px) {
                font-size: 32px;
              }
              @media screen and (max-width: 480px) {
                font-size: 18px;
              }
  
              &:nth-child(2) {
                color: #abffcf;
                background: rgba(39, 174, 96, 0.3);
                border-radius: 10px;
                padding: 5px 10px;
              }
            }
  
  
  
          }
        }

      }


      .personalInfo {
        display: flex;
        flex-direction: column;
        gap: 56px;

        .card {
          width: 50%;
          background: #27ae60;
          border-radius: 20px;
          padding: 30px;
          position: relative;
          z-index: 1;
          @media screen and (max-width: 920px) {
            width: 100%;
            margin-bottom: 187px;
            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
          .bg {
            position: absolute;
            right: 0;
            width: 300px;

            width: 300px;
            right: -50%;
            top: 38%;
            @media screen and (max-width: 920px) {
              height: 200px;
              width: 100%;
              right: 0;
            }
            .flowLiener {
              position: absolute;
              left: 0;
              top: 26px;
              @media screen and (max-width: 920px) {
                // width: 100px;
                rotate: 90deg;
                top: calc(100% - -4px);

                left: calc(50% - 116px);
              }
            }

            .flowLienerDashed {
              position: absolute;
              right: 28px;
              bottom: -205px;
              @media screen and (max-width: 920px) {
                right: calc(50% - 6px);
                z-index: 0;
                bottom: calc(-100% - -43px);
              }
            }

            .logo {
              position: absolute;
              right: 0;
              border: 4px solid #abffcf;
              border-radius: 100px;
              width: 75px;
              height: 75px;
              box-shadow: 0 0 15px 0 rgba(39, 174, 96, 0.32);
              background: rgba(39, 174, 96, 0.3);
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (max-width: 920px) {
                right: calc(50% - 33px);
                bottom: -58%;
                background: rgba(39, 174, 96);
                z-index: 1;
              }
            }
          }

          .bg2 {
            position: absolute;
            height: 100%;
            width: 400px;
            top: 0;
            left: -68%;
            z-index: 0;
            @media screen and (max-width: 920px) {
              width: 100%;
              left: 0;
              display: none
            }
            // transform: translate(0, 50%);
            .flowLienerBig {
              position: absolute;
              right: 0;
              top: calc(50% - 8px);
              @media screen and (max-width: 920px) {
                rotate: -90deg;
                right: 0;
                top: calc(100% - -50px);
                z-index: 0;
              }
              // top: 26px;
              // transform: translate(0%, -50%);
            }

            .logoUnlockWrapper {
              position: absolute;
              transform: translate(0%, 50%);
              z-index: 1; 

              .unlockLogo {}
            }

            .flowLienerDark {
              position: absolute;
              left: 45px;
              bottom: 0;
              z-index: 0;
              @media screen and (max-width: 920px) {
                  display: none;
              }
            }
          }

          h4 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 36px;
            line-height: 112%;
            color: #abffcf;
            padding-bottom: 20px;
            @media screen and (max-width: 760px) {
              font-size: 32px;
            }
            @media screen and (max-width: 480px) {
              max-width: 200px;
              font-size: 20px;
            }
          }

          p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 20px;
            line-height: 112%;
            color: #abffcf;
            @media screen and (max-width: 480px) {
              max-width: 350px;
              font-size: 14px;
            }
          }

          &:nth-child(2) {
            box-shadow: 0 0 43px 0 rgba(39, 174, 96, 0.21);
            background: rgba(39, 174, 96, 0.3);
            border: 3px dashed #27ae60;
            align-self: flex-end;

            h4 {
              color: #27ae60;
            }

            p {
              color: #27ae60;
            }
          }
        }
      }
    }


    .anonymity {
      width: 100%;
      padding: 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border: 6px dashed #2a2a2a;
      border-radius: 20px;
      margin: 30px 0 60px;
      // padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 480px) {
        padding: 20px;
        // border: 10px dashed #2a2a2a;
      }

      .info {
        width: 56%;

        h4 {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 32px;
          line-height: 112%;
          color: #8e8e8e;
          padding-bottom: 30px;
          @media screen and (max-width: 480px) {
            font-size: 20px;
          }
        }

        p {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 20px;
          line-height: 112%;
          color: #6f6f6f;
          @media screen and (max-width: 480px) {
            font-size: 14px;
          }
        }
      }

      .comment {
        align-self: flex-end;

        span {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 24px;
          line-height: 112%;
          color: #8e8e8e;
        }

      }


    }

    .buttonWrapper {
      width: 100%;

      button {
        span {
          font-size: 36px;
          @media screen and (max-width: 480px) {
            font-size: 14px;
          }
        }
      }

    }

  }
}