.aboutCompany {
  max-width: 1160px;
  margin: 0 auto;
  background-color: #eef0ff;
  border-radius: 10px;
  margin-top: 41px;
  padding: 45px 0 20px;

  .aboutCompanyWrapper {
    max-width: 966px;
    margin: 0 auto;

    h2 {
      color: #445be7;
      font-size: 48px;
      font-family: 'Onest', Arial, sans-serif;
      font-weight: 700;
      text-align: center;
      padding-bottom: 50px;
    }

    .screenPhone {
      border-radius: 10px;
      background-color: #5d72f3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 50px;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          color: #c3cbff;
          max-width: 668px;
          margin: 0 auto;
          font-size: 24px;
          font-family: 'Onest', Arial, sans-serif;

          font-weight: 500;
          line-height: 24px;
          text-align: center;
          margin-bottom: 40px;
        }
        img{

        }
      }
    }
    .buttonWrapper{
      padding-top: 20px;
    }
  }
}