.introCompany {
  width: 100%;
  background-color: #445be7;
  border-radius: 10px;

  .introCompanyWrapper {
    max-width: 1164px;
    margin: 0 auto;
    padding: 30px 0 20px;
    @media screen and (max-width: 768px) {
      padding: 30px 10px 20px;
    }
    .titleWrapperCompany{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #5d72f3;
        padding: 50px 0;
        margin: 20px 0;
        transition: .2s ease-in-out;
        @media screen and (max-width: 768px) {
          padding: 10px 0;
          width: 100% !important;
        }
        h2 {
          color: #d8ddff;
          font-size: 40px;
          font-family: 'Onest', Arial, sans-serif;
          font-weight: 700;
          line-height: 48px;
          text-align: center;
          @media screen and (max-width: 768px) {
            font-size: 32px;
          }
          @media screen and (max-width: 480px) {
            
            max-width: 200px;
            font-size: 20px;
            text-align: center;
            line-height: 30px;

          }
          span {
            color: rgb(238, 240, 255);
            background-color: #445be7;
            border-radius: 10px;
            padding: 2px 3px;
          }
        }
      }
    }


    .introCompanyContent {
      width: 100%;

      .info {
        padding: 30px 100px 30px 30px;
        outline: 3px dashed #c3cbff;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;

        &:nth-child(1) {
          width: 80%;
          @media screen and (max-width: 968px) {
            width: 100%;
            margin-bottom: 155px;
          }

        }

        &:nth-child(2) {

          width: 50%;
          @media screen and (max-width: 968px) {
            width: 100%;
            margin-bottom: 168px;
          }
        }

        h4 {
          color: #d8ddff;
          font-size: 32px;
          font-family: 'Onest', Arial, sans-serif;
          line-height: 1.1;
          font-weight: 700;
          padding-bottom: 20px;
          @media screen and (max-width: 480px) {
            font-size: 18px;
          }
        }

        p {
          color: #c3cbff;
          font-size: 20px;
          font-family: 'Onest', Arial, sans-serif;
          line-height: 1.1;
          font-weight: 400;
          @media screen and (max-width: 480px) {
            font-size: 12px;
          }
        } 

        .bg {
          width: 150px;
          // outline: 1px solid red;
          position: absolute;
          right: -150px;
          top: calc(50%);
          @media screen and (max-width: 968px) {
            width: 100%;
            right: 0;
            left: 0;
            top: 100%;
          }
          .lienerWrapper {
            position: absolute;
            // top: -52px;
            // left: 42px;
            // rotate: -90deg;
            @media screen and (max-width: 968px) {
              rotate: 90deg;
              left: 50%;
            }
            .liener {
              position: absolute;
              top: -2px;
              left: 8px;
              width: 100px;
              height: 4px;

              border-radius: 15px;
              background-color: #c3cbff;

              box-shadow: 0px 0px 5px 0px rgba(195, 203, 255, 1);
              @media screen and (max-width: 968px) {
                width: 60px;
              }
            }
            .liener1{
              position: absolute;
              right: -116px;
              height: 240px;
              width: 4px;
              background-color: #c3cbff;
              box-shadow: 0px 0px 5px 0px rgba(195, 203, 255, 1);

              @media screen and (max-width: 968px) {
                height: 80px;
                rotate: 90deg;
                // right: 0;
                top: -40px;
              }
            }
            .circle{
              position: absolute;
              top: -6px;
              left: -4px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              // background-color: #c3cbff;
              
              outline: 4px solid #c3cbff;
              box-shadow: 0px 0px 5px 0px rgba(195, 203, 255, 1);
            }
          }

          .keyWrapper {
            position: absolute;
            right: 0;
            top: calc(-75px / 2);
            width: 77px;
            height: 77px;
            background-color: #5d72f3;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 4px solid #c3cbff;
            border-radius: 50%;
            @media screen and (max-width: 968px) {
              width: 50px;
              height: 50px;
              top: 60px;
              right: calc(50% - 50px / 2);
              img{
                width: 30px;
                height: 30px;
              }
            }
          }
        }

        .bg1{
          width: 450px;
          position: absolute;
          right:-450px;
          top: 50%;
          @media screen and (max-width: 968px) {
            width: 100%;
            right: 0;
            left: 0;
            top: 100%;
          }

          .unlockWrapper{
            position: absolute;
            top: -63px;
            left: 100px;
            @media screen and (max-width: 968px) {
              display: none;
            }
          }

            .lienerWrapper{
              width: 100%;
              @media screen and (max-width: 968px) {
                position: absolute;
                rotate: 90deg;
                width: 100px;
                bottom: calc(50% - 50px);
                right: calc(50% - 100px / 2);
              }
              .liener {
                width: 100%;
                position: absolute;
                top: -2px;
                left: 8px;
                height: 4px;
  
                border-radius: 15px;
                background-color: #c3cbff;
  
                box-shadow: 0px 0px 5px 0px rgba(195, 203, 255, 1);
                @media screen and (max-width: 968px) {
                  width: 160px;

                }
              }
              .circle{
                position: absolute;
                top: -6px;
                left: -4px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                // background-color: #c3cbff;
                
                outline: 4px solid #c3cbff;
                box-shadow: 0px 0px 5px 0px rgba(195, 203, 255, 1);
              }
            }

            .browserWrapper{
              width: 77px;
              height: 77px;
              position: absolute;
              right: calc(-100px / 2);
              top: calc(-75px / 2);
              border-radius: 10px;
              background-color: #5d72f3;

              outline: 4px solid #c3cbff;

              display: flex;
              align-items: center;
              justify-content: center;
              @media screen and (max-width: 968px) {
                // top: 0;
                right: calc(50% - 50px / 2);
                bottom: calc(-50% - 100px);
                top: auto;
                width: 50px;
                height: 50px;
                img{
                  width: 30px;
                  height: 30px;
                }
              }
            }

      
        }
      }
    }

  }
}