.introCompany {
  width: 100%;
  background-color: #445be7;
  border-radius: 10px;

  .introCompanyWrapper {
    max-width: 1164px;
    margin: 0 auto;

    .title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background-color: #5d72f3;

      h2 {
        color: #d8ddff;
        font-size: 40px;
        font-family: 'Onest', Arial, sans-serif;
        font-weight: 700;
        line-height: 48px;

        span {
          color: rgb(238, 240, 255);
          background-color: #445be7;
          border-radius: 10px;
          padding: 2px 3px;
        }
      }
    }
  }
}