.header {
  width: 100%;
  position: fixed;
  top: 20px;
  z-index: 999;
  transition: all .3s ease-in-out;

  &.up {
    top: 20px;
  }

  &.down {
    top: -50px;
  }

  .nav {
    max-width: 771px;
    margin: 0 auto;
    padding: 3px;
    position: relative;
    z-index: 1000;

    border-radius: 10px;
    // opacity: 0.1;
    background-color: #c3cbff58;

    transition: all .2s ease-in-out;

    @media screen and (max-width: 1280px) {
      padding: 20px;
    }

    &.dark {
      // display: none;
      background-color: rgba(41, 41, 41, 0.6);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);

      // opacity: 0.6;
      .itemsListHeader {
        li {
          a {
            &:hover {
              color: #b5b5b5;
              background-color: #515151;
            }
          }
        }

        .logo {
          a {
            border-radius: 10px;
          }
        }
      }
    }

    &.green {
      background-color: rgba(41, 54, 47, 0.7);

      .itemsListHeader {
        li {
          a {
            color: #27ae60;

            &:hover {
              background-color: #1e623a;
              color: #abffcf;
            }
          }
        }

        .authLink {
          background-color: #1e623a;
          border-radius: 10px;

          a {
            color: #27ae60;
          }
        }

        .logo {
          a {
            border-radius: 10px;
          }
        }
      }
    }

    .itemsListHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 200;
      position: relative;

      .itemListHeader {
        // justify-self: start;
        // width: 100%;
        // height: 100%;
        height: 100%;

        @media screen and (max-width: 1280px) {
          display: none;
        }

        a {

          font-family: var(--font-family);
          font-weight: 500;
          font-size: 16px;
          color: #e6e6e6;
          border-radius: 10px;
          padding: 12px 43px;

          &:hover {
            background: #c3cbff;
            background-color: #5d72f3;
            transition: all .3s ease-in-out;
          }
        }
      }

      .burger {
        display: none;

        @media screen and (max-width: 1280px) {
          display: block;
          width: 40px;
          height: 40px;
          cursor: pointer;
          position: relative;

          &.active {
            span {
              transition: all .2s ease-in-out;

              &:nth-child(1) {
                // top: 0;
                left: calc(50% - 20px);
                top: 18px;
                transform: rotate(-45deg);
              }

              &:nth-child(2) {
                opacity: 0;
              }

              &:nth-child(3) {
                // top: 0;
                left: calc(50% - 20px);
                bottom: 18px;
                transform: rotate(45deg);
              }
            }
          }

          span {
            transition: all .2s ease-in-out;

            &:nth-child(1) {
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: #b5b5b5;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 10px;
            }

            &:nth-child(2) {
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: #b5b5b5;
              top: 10px;
              border-radius: 10px;

            }

            &:nth-child(3) {
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: #b5b5b5;
              bottom: 10px;
              border-radius: 10px;
            }

          }
        }
      }

      .logo {
        @media screen and (max-width: 1280px) {
          display: block;


        }

        a {
          width: 45px;
          height: 45px;
          display: block;
          background-color: #131313;
          border-radius: 2px;
          padding: 0;

          border-radius: 50%;

          &:hover {
            background-color: #131313;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .authLink {

        @media screen and (max-width: 1280px) {
          display: none;
        }

        a {
          background: #131313;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px 57px;
          transition: all .3s ease-in-out;
          border-radius: 10px;

          &:hover {
            background: #c3cbff;
            background-color: #5d72f3;
            transition: all .3s ease-in-out;
          }

          span {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: #e6e6e6;

            border-radius: 10px;
          }
        }

      }
    }
  }
}