@import "../../styles/mixins.scss";

.buttonGreen {
  width: 100%;
  position: relative;
  top: -25px;
  @include buttonStyleGreen();
  z-index: 0;

  span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    color: #abffcf;

  }

  &:hover {
    background-color: #27402c;
    transition: .3s ease-in-out;
  }
}

.buttonDark {
  width: 100%;
  @include buttonStyleDark();

  span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }
}