@import "../../styles/mixins.scss";

.buttonDefault {
  width: 100%;
  z-index: 0;
  cursor: pointer;
  span{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
  }
  &.dark {
    @include buttonStyleDark();
    span{
      color: #fff;
    }
  }
  &.blue {
    @include buttonStyleBlue();
    span{
      color:#445be7
    }

  }
  &.white {
    @include buttonStyleDark();
    span{
      color: #fff;
    }

  }
  &.green{
    @include buttonStyleGreen();
    span{
      color: #abffcf;
    }
  }



  // &:hover {
  //   background-color: #27402c;
  //   transition: .3s ease-in-out;
  // }
}

