@import "../../styles/mixins.scss";

.buttonDefault {
  width: 100%;
  z-index: 0;
  cursor: pointer;
  @media screen and (max-width: 480px) {
    svg{
      width: 25px;
      height: 25px;
    }
  }
  span{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    @media screen and (max-width: 480px) {
      font-size: 18px;
      
    }
  }

  &.dark {
    @include buttonStyleDark();
    span{
      color: #fff;
    }
  }
  &.blue {
    @include buttonStyleBlue();
    span{
      color:#445be7
    }

  }
  &.white {
    @include buttonStyleDark();
    span{
      color: #fff;
    }

  }
  &.green{
    @include buttonStyleGreen();
    span{
      color: #abffcf;
    }
  }

}

