

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
:root {
  --font-family: "Onest", sans-serif;
  --second-family: "Clash Display", sans-serif;
  --third-family: "SF Pro Rounded", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Figtree", sans-serif;
}
body { min-width: 960px;}
a{
  text-decoration: none;
  color: inherit;

}
li{
  list-style: none;
}

main{
  /* width: 100%;
  max-width: 1200px;
  margin: 0 auto; */
  background-color: #445BE7;
  /* padding-top: 152px; */
}