@import url('https://fonts.googleapis.com/css2?family=Inter&family=Onest:wght@100..900&family=Playwrite+MX&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=Playwrite+MX&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=Playwrite+MX&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}

html {
  scroll-behavior: smooth;



}

html::-webkit-scrollbar-thumb {
  cursor: grab !important;
  background-color: #445BE7;
  border-radius: 10px;
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

html::-webkit-scrollbar {
  cursor: grab !important;
  width: 20px;
  background-color: transparent;
}

:root {
  --font-family: "Onest", sans-serif;
  --second-family: "Clash Display", sans-serif;
  --third-family: "SF Pro Rounded", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Figtree", sans-serif;
}

body {


}

a {
  text-decoration: none;
  color: inherit;

}

li {
  list-style: none;
}

main {
  /* width: 100%;
  max-width: 1200px;
  margin: 0 auto; */
  background-color: #445BE7;
  /* padding-top: 152px; */
}